        .NavBar{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            color: black;
            background-color: orangered;
            border: solid;
            border-radius: 10px;
        }
        .NavLinks{
            list-style: none;
            display: flex;
            gap: 20px;
        }
        .NavLinks li a{
            color: black;
            text-decoration: none;
            font-size: 20px;
        }

        .MenuToggle{
            display: none;
            cursor: pointer;
        }
        .MenuToggle .Bar{
            width: 30px;
            height: 5px;
            background-color: gold;
            margin: 10px 0 ;
        }

        body{
            background-image: url(img/Grass.jpg);
            background-repeat: repeat-y;
            background-size: cover;
            background-attachment: fixed;
        }

        p, h1, h2{
            background-color: orangered;
            color: black;
            padding: 20px;
            border: solid;
            border-radius: 10px;
            font-size: large;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h1{
            font-size: x-large;
        }

        .media{
            display: block;
            width: 95vw;
            border: solid;
            border-radius: 10px;
        }

        .Cardholder{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
        .Card{
            display: flex;
            width: 300px;
            border: solid;
            border-radius: 10px;
            justify-content: center;
            background-color: orangered;
            color: black;
        }

        .CardWild{
            display: flex;
            width: 500px;
            border: solid;
            border-radius: 10px;
            justify-content: center;
            background-color: orangered;
            color: black;
        }


        @media screen and (max-width:470px){
            .MenuToggle{
                display: block;
            }
            .NavLinks{
                display: none;
                flex-direction: column;
                position: absolute;
                left: 10px;
                top: 50px;
                background-color: orangered;
                padding: 20px;
                border: solid;
                border-radius: 10px;
            }
            .NavLinks li a{
                text-align: center;
            }
            .NavLinks.show{
                display: flex;
            }
            
        }